[submodule "external/pymarl2"]
	path = external/pymarl2
	url = https://github.com/hijkzzz/pymarl2.git
[submodule "external/marllib"]
	path = external/marllib
	url = https://github.com/Replicable-MARL/MARLlib.git
